form {
  max-width: 60rem;
}

input[type=radio] {
  accent-color: #003f4f;
}

main {
  display: flex;
  justify-content: center;
}

.grid-column-2 {
  gap: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-column-3 {
  gap: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}